.icon::before {
    display: inline-block;
		color: #fff;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

body,
html {
	align-items: center;
	background: #0e0f11;
	color: #ecf0f1;
	display: flex;
	flex-direction: row;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	min-height: 100vh;
	padding: 0;
	width: 100%;
}

a:link,
a:hover,
a:active,
a:visited {
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}

a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}

.splashWrapper {
	background: url("../images/bookshelf.jpg") no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.userContainer{
	align-items: center;
  background-color: rgba(0, 0, 0, .5);
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	height: 40%;
	width: 70%;
	margin: 5% auto auto auto;
}

.userContainer h1{
	margin: 5% 0;
	padding: 2%;
  text-align: center;
}

.userSignupLogin {
	display: flex;
	flex-direction: row;
}
.userSignupLogin a {
	cursor: pointer;
	margin: 5%;
}

.userSignupLogin .button{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 1.5em;
	height: 50px;
	width: 150px;
}

.loginWrapper {
	background: url("../images/loginimg.jpg") no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.loginContainer{
	align-items: center;
  background-color: rgba(100, 100, 100, .4);
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	height: 40%;
	width: 70%;
	margin: 5% auto auto auto;
}

.loginContainer form {
	align-items:flex-start;
	display: flex;
	flex-direction: column;
	margin: 5% auto auto auto;
}

.loginContainer input {
	margin: 5% 0;
}
.loginContainer button {
	align-items: center;
  background-color: #FFF;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 30%;
	width: 100%;
	margin: 20% 0 0 0;
}


.signupWrapper {
	background: url("../images/signupimg.jpg") no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.signupContainer{
	align-items: center;
  background-color: rgba(0, 0, 0, .5);
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	height: 40%;
	width: 70%;
	margin: 5% auto auto auto;
}

.signupContainer form {
	align-items:flex-start;
	display: flex;
	flex-direction: column;
	margin: 5% auto auto auto;
}

.signupContainer input {
	margin: 5% 0;
}

.signupContainer button {
	align-items: center;
  background-color: #FFF;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 30%;
	width: 100%;
	margin: 20% 0 0 0;
}
.mainContainer{
  align-self:center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainContainer h1 {
	margin: 5% 0 0 0;
  text-align: center;
}

form {
	display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputBox  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5% 0;
	width: 100%;
}

.createBookBtn {
	background-color: grey;
	border-radius: 5px;
	margin: 0 0 0 2%;
	padding: 1%;
}
.createBookBtn i {
	color: #fff;
}

.bookWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.containerBooks {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.containerBooks .bookCover {
	height: 500px;
  width: 300px;
}

.containerBooks p {
  font-size: 2em;
  text-align: center;
  width: 100%;
	height: 5em;
}

.lineBreakMobile {
  border-bottom: 3px solid #fff;
  align-self: center;
  margin: 0 0 5% 0;
  width: 50%;
}

.detailsWrapper {
	display: flex;
	flex-direction: column;
}

.details.fa.fa-angle-left {
	color: #fff;
	font-size: 3em;
	margin: 5% 0 0 0;
}

.detailsContainer {
	display: flex;
	flex-direction: column;
}

.detailsImg {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.detailsImg img {
	align-content: center;
	display: flex;
	flex-direction: column;
	height: auto;
	margin: 0 0 5% 0;
	width: 80%;
}

.detailsButtons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.detailsButtons i.fa {
	cursor: pointer;
	font-size: 2em;
  margin: 0 3%;
}

.editContainer {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.editForm {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

.editContainer .inputAuthor {
	font-size: 1em;
	width: 100%;
}

.editContainer input {
	font-size: 1em;
	width: 100%;
}

.editContainer textarea {
	font-size: .5em;
	width: 100%;
}

.inputSubmit {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 5% 0;
	width: 20%;
}
.inputSubmit button, .deleteForm button {
	background-color: white;
	border-radius: 5px;
	font-size: 2em;
	margin: 0 10% 0 0;
	width: 50%;
	height: auto;
}

.editContainer a {
	margin: 0 2% 0 0;
}
.editContainer i.edit {
	color: white;
	font-size: 3em;
}

.createContainer {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.createForm {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

.createContainer .inputAuthor {
	font-size: 1em;
	width: 100%;
}

.createContainer input {
	font-size: 1em;
	width: 100%;
}

.createContainer textarea {
	font-size: .5em;
	width: 100%;
}

.inputSubmit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5% 0;
	width: 100%;
}
.inputSubmit button {
	background-color: white;
	font-size: 2em;
	margin: 0 10% 0 0;
	border-radius: 10px;
	width: 20%;
	height: auto;
}

.createContainer .create.fa.fa-window-close {
	color: white;
	font-size: 3em;
}

form {
	display: flex;
	flex-direction: row;
}

.createContainer .create.fa.fa-window-close {
	color: white;
	font-size: 3em;
}

.user.signin, .user.login {
	display: flex;
	flex-direction: column;
}

/* =================================
  Tablet Screen Media Query
==================================== */

@media screen and (min-width: 768px) {


	.containerBooks {
	  display: flex;
	  flex-direction: column;
	  width: 100%;
	}

	.bookWrapper {
	  display: flex;
	  flex-direction: column;
	  width: 100%;
	}
}

/* =================================
  Large Screen Media Query
==================================== */

@media screen and (min-width: 1024px) {

	.containerBooks {
	  display: flex;
	  flex-direction: row;
	  width: 100%;
	}

	.bookWrapper {
	  display: flex;
	  flex-direction: column;
		height: auto;
		margin: 0 1%;
	  width: 400px;
	}

	.detailsContainer {
		width: 30%;
	}

}
