extends layout

block content
  .createContainer
    a(href='/')  
      i.details.fa.fa-angle-left(aria-hidden="true")
    .createHeader
      h1 Add new information for the book: 
    form(action='/createbook/new' method='POST' ).createForm
      .inputAuthor
        h1 Author:
        input(type='text' name='author' placeholder='author')
      .inputAuthor
        h1 Title:
        input(type='text' name='title' placeholder='title')
      .inputAuthor
        h1 Preview:
        textarea(type='text' rows='4' name='preview' placeholder='Description of the book...') 
      .inputAuthor
        h1 Genre:
        input(type='text' name='genre' placeholder='genre')
      .inputAuthor
        h1 Book Cover URL:
        input(type='text' name='image_url' placeholder='image_url')
      .inputSubmit
        button(type='Submit' formmethod='POST' value='Submit').saveButton
          | Save 
        a(href='/')
          i.create.fa.fa-window-close(aria-hidden="true")
        
        
    
    
