extends layout

block content
  .mainContainer
    h1 Ryan's and Gene's Bookstore
    .inputBox
      form( method='POST' action='/results')
        input(type="text" name="queryString" placeholder="Search books here")
        input(type='submit')
      .createBookBtn
        a(href='/createbook').icon.create.fa.fa-plus-square
          | Add Book
    .containerBooks
     for book in books
      .bookWrapper
        a(href=`/details/${book.id}`)
          img(src=book.image_url).bookCover
        p=book.title
        .lineBreakMobile

        
