extends layout

block content
  h1 Sign up for the bookstore
  form(method='post').user.signup
    label Email: 
      input(type='text' name='email')
    label Password: 
      input(type='text' name='password')
    button(type='submit' value='Submit')
